
@{
    ViewBag.Title = "Registers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    .containers-button
    {    
       position: relative;
       min-height: 1px;
       padding-right: 15px;
       margin: 7px;
       padding-left: 15px;
       border-radius:10px 10px 10px 10px;
       width:300px;
       height:100px;
       background-color:darkolivegreen;
       box-shadow:1px 5px 6px #000000;

        box-shadow:1px 5px 6px #000000;
       -webkit-transition: 0.5s ease-out;
       -moz-transition: 0.5s ease-out;
       -o-transition: 0.5s ease-out;
       transition: 0.5s ease-out;
    }

    .containers-button:hover
    {
       position: relative;
       min-height: 1px;
       padding-right: 15px;
       margin: 7px;
       padding-left: 15px;
       border-radius:10px 10px 10px 10px;
       width:300px;
       height:100px;
       background-color:darkkhaki;  

       box-shadow:1px 5px 6px #000000;
       -webkit-transition: 0.5s ease-out;
       -moz-transition: 0.5s ease-out;
       -o-transition: 0.5s ease-out;
       transition: 0.5s ease-out;
    }

    .icon-maps
    {
        background:url(../../images/icons/icon-map.png);
        background-repeat:no-repeat;
        background-size:100% 100%;
        background-clip:border-box;
    }
    

</style>


<div  style="height: 662px; width: 100% ;margin-top: -49px;">

    <div class="row" style="float:left;margin-left:0px;margin-top: 0px;background-color:whitesmoke">
             

        <div class="col-sm-6 col-md-4">
            <a href="/Home/CadastroEnredecoLatLng">
                <div class="thumbnail containers-button">
                    <span>CADASTRO DE ENDPOINTS</span>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="thumbnail containers-button">

                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="thumbnail containers-button">

                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="thumbnail containers-button">

                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="thumbnail containers-button">

                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="thumbnail containers-button">

                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="thumbnail containers-button">

                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="thumbnail containers-button">

                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="thumbnail containers-button">

                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="thumbnail containers-button">

                </div>
            </a>
        </div>

       @* <div class="col-sm-6 col-md-4" >
            <div class="thumbnail" style="background:url(../../images/backgrounds/background3.jpg);background-repeat:no-repeat;background-size:100%;">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>CADASTRO DE METAS</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>*@

    </div>

        </div>

